i.material-icons.mdl-list__item-avatar dns
span.mdl-list__item-primary-content #{from}


span.mdl-list__item-secondary-action
  label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="list-switch-#{id}")
    input(type="checkbox" id="list-switch-#{id}" class="mdl-switch__input" checked="checked")
